@font-face {
  font-family: 'Marmelad';
  src: url('../fonts/Marmelad-Regular.eot');
  src: local('☺'), url('../fonts/Marmelad-Regular.woff') format('woff'),
    url('../fonts/Marmelad-Regular.ttf') format('truetype'),
    url('../fonts/Marmelad-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBold.eot');
  src: local('☺'), url('../fonts/Poppins-ExtraBold.woff') format('woff'),
    url('../fonts/Poppins-ExtraBold.ttf') format('truetype'),
    url('../fonts/Poppins-ExtraBold.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.eot');
  src: local('☺'), url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/Poppins-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.eot');
  src: local('☺'), url('../fonts/Poppins-Light.woff') format('woff'),
    url('../fonts/Poppins-Light.ttf') format('truetype'),
    url('../fonts/Poppins-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.eot');
  src: local('☺'), url('../fonts/Poppins-SemiBold.woff') format('woff'),
    url('../fonts/Poppins-SemiBold.ttf') format('truetype'),
    url('../fonts/Poppins-SemiBold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}
