<section class="about-as" data-aos="fade-up">
  <div class="container">
    <h2 class="about-as__title titleh2">О нас</h2>
    <div class="about-as__description">
      <div class="about-as__description-part1">
        <p class="part1">Объединение юристов, которые неравнодушны к Вашей проблеме!</p>
        <p class="part2">
          Каждый клиент приходит к нам со своей уникальной историей. Наша главная задача найти
          индивидуальный подход к решению Вашей ситуации.
        </p>
      </div>

      <div class="about-as__img-wrapper">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/about-as/desctop/team@1x.webp 1x,
              ./images/about-as/desctop/team@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/about-as/desctop/team@1x.jpg 1x,
              ./images/about-as/desctop/team@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/about-as/tablet/team_img@1x.webp 1x,
              ./images/about-as/tablet/team_img@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/about-as/tablet/team_img@1x.jpg 1x,
              ./images/about-as/tablet/team_img@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./images/about-as/mobile/team_img@1x.webp 1x,
              ./images/about-as/mobile/team_img@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./images/about-as/mobile/team_img@1x.jpg 1x,
              ./images/about-as/mobile/team_img@2x.jpg 2x
            "
          />
          <img class="about-as__team-img" loading="lazy" src="" alt="Наша команда" />
        </picture>
      </div>
      <div class="about-as__description-part2">
        <p class="part3">
          Благодаря многолетнему опыту и многопрофильным кейсам мы поможем Вам разобраться во всех
          тонкостях законодательства и найти оптимальный вариант решения в затруднительной ситуации.
        </p>
        <p class="part4">
          Большинство дел мы решаем в досудебном порядке, путем медиации, сохраняя Ваши нервы и
          средства.
        </p>
      </div>
    </div>
  </div>
</section>
