<section class="advantage" data-aos="fade-up">
  <div class="container">
    <!-- <h1 class="advantage__title visually-hidden">Наши приимущества</h1> -->
    <ul class="advantge__list">
      <li class="advantge__list-item">
        <p class="advantage__number">81</p>
        <p class="advantage__description">Постоянный клиент</p>
      </li>
      <li class="advantge__list-item">
        <p class="advantage__number">92%</p>
        <p class="advantage__description">Выигранных дел</p>
      </li>
      <li class="advantge__list-item">
        <p class="advantage__number">16</p>
        <p class="advantage__description">Успешных взысканий</p>
      </li>
      <li class="advantge__list-item">
        <p class="advantage__number">7</p>
        <p class="advantage__description">Лет<br/> стажа</p>
      </li>
      <li class="advantge__list-item">
        <p class="advantage__number">100%</p>
        <p class="advantage__description">Гарантия результата</p>
      </li>
    </ul>
  </div>
</section>
