<section class="articles">
    <div class="container">
        <h2 class="articls__title titleh2 container" >Статьи</h2>
        <ul class="articls__list">
            <li class="articls__list-item">
                <div class="articls__img-wrapper"></div>
                <div class="articls__content-wrapper">
                    <p class="articls__content">Международные коммерческие правила-это тот базис международного частного...</p>
                    <a href="#" class="articls__content-link">Читать ещё</a>
                </div>
            </li>
            <li class="articls__list-item">
                <div class="articls__img-wrapper"></div>
                <div class="articls__content-wrapper">
                    <p class="articls__content">Как уменьшить размер алиментов: варианты и методы</p>
                    <a href="#" class="articls__content-link">Читать ещё</a>
                </div>
            </li>
            <li class="articls__list-item">
                <div class="articls__img-wrapper"></div>
                <div class="articls__content-wrapper">
                    <p class="articls__content">Как уменьшить размер алиментов: варианты и методы</p>
                    <a href="#" class="articls__content-link">Читать ещё</a>
                </div>
            </li>
        </ul>
    </div>
</section>