<footer class="footer">
    <div class="container">
      
        <div class="logo">
            <a href="index.html" class="header__logo">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./images/header-top/desktop/logo_desktop@1x.webp 1x,
                    ./images/header-top/desktop/logo_desktop@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./images/header-top/desktop/logo_desktop@1x.png 1x,
                    ./images/header-top/desktop/logo_desktop@2x.png 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/header-top/tablet/logo_tablet@1x.webp 1x,
                    ./images/header-top/tablet/logo_tablet@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/header-top/tablet/logo_tablet@1x.png 1x,
                    ./images/header-top/tablet/logo_tablet@2x.png 2x
                  "
                />
                <source
                  media="(max-width: 768px)"
                  srcset="
                    ./images/header-top/mobile/logo_mobile@1x.webp 1x,
                    ./images/header-top/mobile/logo_mobile@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 768px)"
                  srcset="
                    ./images/header-top/mobile/logo_mobile@1x.png 1x,
                    ./images/header-top/mobile/logo_mobile@2x.png 2x
                  "
                />
                <img class="header__logo" loading="lazy" src="#" alt="Логотип" />
              </picture>
            </a>
          </div>
          <div class="wrapper">
          <address class="footer__address">
            <div class="address-wrapper">
                <p class="footer__address-title">Адрес:</p>
                <p class="footer__street">Украина, г. Днепр,  улица Колодязна 2А</p>
                <ul class="footer__soc-list">
                    <li class="footer__soc-list-item">
                      <a class="link-viber link" href="viber://add?number=%2B380671562638">
                        <img src="./images/footer/icon_viber.svg" alt="Пишите нам Vkontakte">
                      </a>
                    </li>
                    <li class="footer__soc-list-item">
                      <a class="link-telegram link" href="">
                        <img src="./images/footer/telegram.svg" alt="Пишите нам Телеграм">
                      </a>
                    </li><li class="footer__soc-list-item">
                      <a class="link-telegram link" href="">
                        <img src="./images/footer/facebook.svg" alt="Пишите нам Facebook">
                      </a>
                    </li>
                    <li class="footer__soc-list-item">
                      <a class="link-telegram link" href="">
                        <img src="./images/footer/instagramm.svg" alt="Пишите нам Инстаграмм">
                      </a>
                    </li>
                </ul>
            </div>
        </address>
            <div class="contacts-wrapper">
                <p class="footer__contacts-title">Телефоны</p>
                <ul class="footer__contacts__call-list list">
                    <li class="footer__call-item">
                        <a class="footer__call-link link" href="tel:+380671562638"> +38 (067) 156 26 38</a>
                      </li>
                    <li class="footer__contacts__call-item">
                      <a class="footer__contacts__call-link link" href="tel:+380732228557"> +38 (073) 222 85 57</a>
                    </li>
                    <li class="footer__contacts__call-item">
                      <a class="footer__contacts__call-link link" href="tel:+380682228557"> +38 (068) 222 85 57</a>
                    </li>
                  </ul>
            </div>
            <div class="footer__about-as-wrapper">
                <p class="footer__about-as-title">О нас</p>
                <ul class="footer__about-as-list">
                    <li class="footer__about-as-list-item">Услуги и прайс</li>
                    <li class="footer__about-as-list-item">Наши направления</li>
                    <li class="footer__about-as-list-item">Статьи</li>
                </ul>
            </div>
          </div>
          <p class="footer__law">© 2022 все права защищены</p>
        
    </div>
</footer>