<div class="last-form-section" >
    <div class="container">
        
        <form action="sendmail.php" method="POST" class="form" >
            <p class="form-title titleh2">Записаться на консультацию</p>
            <p class="form-description">
                Попали в сложную ситуацию? 
Нужна консультация специалиста?
Оставьте заявку и мы свяжемся с вами.
            </p>
            <input
              class="form-input"
              minlength="2"
              type="text"
              name="name"
              id="form-username"
              placeholder="Ваше Имя"
              required
            />
            <input
              class="form-input"
              type="tel"
              name="telephone"
              id="form-telephon"
              placeholder="Ваш телефон"
              required
            />
            <button type="submit" class="button ">Отправить</button>
            <p class="form-description last">
                Ваши данные в безопасности и не будут переданы третьим лицам
            </p>
          </form>
    </div>
</div>