<section class="our_destinations">
  <div class="container">
    <h2 class="our_destinations__title titleh2" data-aos="fade-up">Наши направления</h2>
    <ul class="our_destinations__list">
      <li class="our_destinations__list-item" data-aos="fade-up">
        <div class="our_destinations__title-destination-wrapper">
          <p class="our_destinations__title-destination">Уголовное право</p>
        </div>
        <p class="our_destinations__description">
          Уголовное право – специфическая отрасль права, которая требует тщательной
          теоретико-практической подготовки юриста. Мы работаем с составами преступлений, опасных
          для жизни или здоровья человека, а также экономических правонарушениях (банковская,
          информационная сферы).
        </p>
      </li>
      <li class="our_destinations__list-item" data-aos="fade-up">
        <div class="our_destinations__title-destination-wrapper administrative">
          <p class="our_destinations__title-destination">Административное право</p>
        </div>
        <p class="our_destinations__description">
          Главной функцией административного законодательства является разрешение споров, в сфере
          публично-правовых отношений, между гражданами и субъектами властных полномочий. Так,
          например, на протяжении многих лет мы помогаем нашим клиентам обжаловать штрафы и защитить
          свои права.
        </p>
      </li>
      <li class="our_destinations__list-item" data-aos="fade-up">
        <div class="our_destinations__title-destination-wrapper civil">
          <p class="our_destinations__title-destination">Гражданское право</p>
        </div>
        <p class="our_destinations__description">
          Гражданские споры могут возникать при столкновении интересов субъектов гражданско -
          правовых отношений, при заключении сделок, подписании договоров, вследствие причинения
          материального или морального ущерба кому-либо из сторон правоотношений. Наша компания
          тщательно занимается разработкой Ваших документов и урегулированием конфликта в досудебном
          порядке.
        </p>
      </li>
      <li class="our_destinations__list-item" data-aos="fade-up">
        <div class="our_destinations__title-destination-wrapper economic">
          <p class="our_destinations__title-destination">Хозяйственное право</p>
        </div>
        <p class="our_destinations__description">
          Правовой конфликт, возникающий в сфере хозяйственных правоотношений, называется
          хозяйственным спором. Как правило, он возникает в результате нарушения или неисполнения
          обязательств, которые возникают по договорам. Для эффективной защиты необходимо
          своевременно реагировать на все изменения, которые возникают в процессе таких споров,
          используя законодательную базу и практический опыт.
        </p>
      </li>
    </ul>
  </div>
</section>
