<section class="faqs section" data-aos="fade-up">
  <div class="container">
    <h2 class="faq__title titleh2">Услуги и цены</h2>
    <div class="faq">
      <div class="question">
        <h3>
          Консультирование по направлению: уголовное право/уголовный процесс, документальное
          сопровождение на любой стадии уголовного производства
        </h3>
        <svg width="15" height="15" viewBox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            fill="none"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <ul class="answer__list">
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Сопровождение процессуальных действий, которые предшествуют открытию уголовного
              производства
            </p>
            <div class="answer__wrapper-cost">
              <p class="answer__cost">3 000 грн</p>
              <button type="button" class="answer__button">Заказать</button>
            </div>
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Представление интересов клиента до момента открытия уголовного производства
            </p>
            <div class="answer__wrapper-cost">
              <p class="answer__cost">2 000 грн</p>
              <button type="button" class="answer__button">Заказать</button>
            </div>
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Обжалование постановлений об открытии уголовного производства
            </p>
            <div class="answer__wrapper-cost">
              <p class="answer__cost">3 500 грн</p>
              <button type="button" class="answer__button">Заказать</button>
            </div>
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Обжалование процессуальных действий и решений (составление жалоб, заявлений,
              притензий)
            </p>
            <div class="answer__wrapper-cost">
              <p class="answer__cost">1 800 грн</p>
              <button type="button" class="answer__button">Заказать</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="faq ">
      <div class="question">
        <h3>Регистрация и сопровождение нерезидентного бизнеса</h3>
        <svg width="15" height="15" viewBox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            fill="none"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer second">
        <ul class="answer__list second">
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Развёрнутый анализ юрисдикций
            </p>
            <div class="answer__wrapper-cost">
              <p class="answer__cost">1 500 грн</p>
              <button type="button" class="answer__button">Заказать</button>
            </div>
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Выбор соответствующей юрисдикции
            </p>
            <div class="answer__wrapper-cost">
              <p class="answer__cost">1 000 грн</p>
              <button type="button" class="answer__button">Заказать</button>
            </div>
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Подготовка документов
            </p>
            <div class="answer__wrapper-cost">
              <div class="answer__costs">
              <p class="answer__cost">от 5 000 грн</p>
              <p class="answer__cost">до 10 000 грн</p>
            </div>
              <button type="button" class="answer__button">Заказать</button>
            </div>
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Регистрация нерезидентной компании
            </p>
            <div class="answer__wrapper-cost">
              <p class="answer__cost">7 000 грн</p>
              <button type="button" class="answer__button">Заказать</button>
            </div>
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Регистрация компании за границей
            </p>
            <div class="answer__wrapper-cost">
              <p class="answer__cost">15 000 грн</p>
              <button type="button" class="answer__button">Заказать</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="faq ">
      <div class="question">
        <h3>Дополнительные услуги</h3>
        <svg width="15" height="15" viewBox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            fill="none"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer third">
        <ul class="answer__list third">
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Анализ документов
            </p>
            <div class="answer__wrapper-cost">
              <p class="answer__cost">1 500 грн</p>
              <button type="button" class="answer__button">Заказать</button>
            </div>
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Помощь в поиске доказательной базы
            </p>
            <div class="answer__wrapper-cost">
              <p class="answer__cost">3 000 грн</p>
              <button type="button" class="answer__button">Заказать</button>
            </div>
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Устная консультация в различных правовых вопросах 
            </p>
            <div class="answer__wrapper-cost">
              
              <p class="answer__cost">от 500 грн</p>
            
              <button type="button" class="answer__button">Заказать</button>
            </div>
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Письменная консультация в различных правовых вопросах 
            </p>
            <div class="answer__wrapper-cost">
              <p class="answer__cost">1 500 грн</p>
              <button type="button" class="answer__button">Заказать</button>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="faq">
      <div class="question">
        <h3>Абонентское обслуживание (расчёт на 1 месяц)</h3>
        <svg width="15" height="10" viewBox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            fill="none"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer-wrapper">
      <div class="answer fourth">
        <p class="package">
          Пакет “Стандарт”
        </p>
        <ul class="answer__list fourth">
          <li class="answer__list-item fourth">
            <p class="answer__list-item-description">
              Консультация (устная) - до 10  запросов
            </p>
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Консультация (письменная) - до 5 запросов
            </p>
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Анализ правовых документов/позиций - до 5 запросов
            </p>            
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Составление договоров (любого характера)- до 3 запросов 
            </p>
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Составление исков, жалоб, претензий -до 5 запросов
            </p>
            <div class="answer__wrapper-cost">
              <p class="answer__cost">10 000 грн</p>
              <button type="button" class="answer__button">Заказать</button>
            </div>
          </li>
          
        </ul>
      </div>
      <div class="answer fourth">
        <p class="package">
          Пакет “Стандарт + ”
        </p>
        <ul class="answer__list fourth">
          <li class="answer__list-item fourth">
            <p class="answer__list-item-description">
              Консультация (устная) - до 15  запросов
            </p>
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Консультация (письменная) - до 10 запросов
            </p>
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Анализ правовых документов/позиций - до 10 запросов
            </p>            
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Составление договоров (любого характера)- до 5 запросов 
            </p>
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Составление исков, жалоб, претензий -до 10 запросов
            </p>
            <div class="answer__wrapper-cost">
              <p class="answer__cost">15 000 грн</p>
              <button type="button" class="answer__button">Заказать</button>
            </div>
          </li>
          
        </ul>
        <p class="price__agreement">*Абонентское юридическое обслуживание не включает в себя сопровождение вопросов Клиента, касающихся закупочной деятельности и судебного представительства.<br/>
        *Договор на абонентское юридическое обслуживание заключается на срок не менее 3 (трех) месяцев.</p>
      </div>
      
      </div>
    </div>
  </div>
</section>
