<section class="reviews">
    <div class="container">
        <h2 class="reviews__title titleh2 container" data-aos="fade-up">Отзывы</h2>
        <ul class="reviews__list" data-aos="fade-up">
            <li class="reviews__list-item">
                <p class="reviews__name">Елена</p>
                    <p class="reviews__review">Большое спасибо компании Лига! Меня очень оперативно проконсультировали, рассказали алгоритм действий. Мне стало намного легче общаться с правоохранительными органами.</p>
            </li>
            <li class="reviews__list-item">  
                <p class="reviews__name">Олег</p>
                    <p class="reviews__review">Очень помогли с составлением договора. Спасибо!</p>
                
            </li>
            <li class="reviews__list-item">
                <p class="reviews__name">Сергей</p>
                    <p class="reviews__review">Добрый день. Судился с супругой из-за проживания с ней детей. Не разрешала видеть их. Очень благодарен юристу за консультации и сопровождение разборок.</p>
              
          </li>
          <li class="reviews__list-item">
            <p class="reviews__name">Виктория</p>
                    <p class="reviews__review">Работаю уже второй год с компанией. Меня радует, что  мне не нужно разбираться во всех юридических тонкостях. Моя клининговая фирма в надежных руках.
                    </p>
        </li>
        <li class="reviews__list-item">
            <p class="reviews__name">Ольга</p>
            <p class="reviews__review">Спасибо за скорость решения вопроса!</p>
      </li>
      <li class="reviews__list-item">
        <p class="reviews__name">Марина</p>
        <p class="reviews__review">Хочу выразить благодарность Евгении! Процесс получения временного вида на жительство в ФРГ затянулся, в связи с карантином,  но сейчас мы оформили все документы и готовы к переезду. Спасибо за помощь.</p>
  </li>
        </ul>
    </div>
</section>