.articles {
  padding-bottom: 40px;
  @include min-width('medium') {
    padding-bottom: 100px;
  }
  @include min-width('large') {
    padding-bottom: 100px;
  }
}
.articles .container {
  @include min-width('medium') {
    padding-left: 0;
    padding-right: 0;
  }
  @include min-width('large') {
    max-width: 1940px;
  }
}
.articls__title {
  text-align: center;
  margin-bottom: 46px;
  @include min-width('medium') {
    margin-bottom: 50px;
  }
  @include min-width('large') {
    margin-bottom: 100px;
  }
}
.articls__title.container {
  @include min-width('medium') {
    text-align: left;
    padding-left: 30px;
  }
  @include min-width('large') {
    width: 949px;
    min-width: 949px;
    padding-left: 0;
  }
}

.articls__list .slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.articls__list .slick-track {
  display: flex;
  // justify-content: center;
  justify-content: space-between;
}

.articls__img-wrapper {
  position: relative;
  background-image: url(../images/articls/mobile/article_img_1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 290px;
  min-height: 227px;
  @include min-width('medium') {
    width: 307px;
    height: 259px;
    background-image: url(../images/articls/tablet/article_img_1.jpg);
  }
  @include min-width('large') {
    background-image: url(../images/articls/desktop/article_img_1.jpg);
    width: 348px;
    height: 259px;
  }
}
.articls__list {
  & > :not(:last-child) {
    margin-bottom: 40px;
  }
  @include min-width('medium') {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & > .articls__list-item {
      margin-bottom: 0px;
    }
    & > :not(:last-child) {
      margin-right: 0px;
    }
    & > :not(:last-child) {
      margin-bottom: 0px;
    }
    position: relative;
  }
  @include min-width('large') {
    margin-left: -62px;
  }
}

.articls__list .slick-arrow {
  position: absolute;
  top: 100%;
  z-index: 10;
}

.articls__list .slick-arrow.slick-next {
  background-image: url(../images/articls/tablet/Arrow.png);
  background-repeat: no-repeat;
  height: 27px;
  width: 42px;
  font-size: 0;
  top: 105%;
  right: 0;
}

.articls__list .slick-arrow.slick-prev {
  @include min-width('medium') {
    display: none !important;
  }
}
.articls__list-item {
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
  @include min-width('medium') {
    width: 320px;
    margin: 13px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  }
  @include min-width('large') {
    flex-basis: calc((100% - 2 * 62px) / 3);
    margin-top: 0px;
    margin-left: 62px;
  }
}
.articls__content-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 25px 20px;
  height: 167px;
  justify-content: space-between;
  @include min-width('medium') {
  }
}
.articls__content {
  @include font(18px, 400, 25px);
  @include min-width('medium') {
    display: block;
  }
}
.articls__content-link {
  display: flex;
  justify-content: flex-end;
  @include font(14px, 400, 20px);
  text-decoration-line: underline;

  color: #d85730;
}
