.form-section {
  background-image: url(../images/form/mobile/form_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 43px;
  padding-bottom: 43px;
  @include min-width('medium') {
    background-image: url(../images/form/tablet/form_img.jpg);
  }
  @include min-width('large') {
    background-image: url(../images/form/tablet/form_img.jpg);
  }
}

.form {
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  margin: 0 auto;
  @include min-width('large') {
    flex-direction: row;
    align-items: center;
  }
}
.form-section .container {
  @include min-width('large') {
    max-width: 979px;
  }
}

.form-title {
  margin: 0 auto;

  margin-bottom: 7px;
  color: var(--text-white-color);
  width: 165px;
  @include min-width('medium') {
    width: 100%;
    margin: 0;
    margin-bottom: 17px;
  }
  @include min-width('large') {
    margin-bottom: 23px;
  }
}

.form-description {
  @include font(14px, 400, 20px);
  color: var(--text-white-color);
  text-align: center;
  margin-bottom: 21px;
  @include min-width('medium') {
    @include font(18px, 400, 25px);
    text-align: left;
    margin-bottom: 46px;
  }
  @include min-width('large') {
    @include font(24px, 400, 34px);
    margin-bottom: 62px;
  }
}
.form-input {
  min-width: 280px;
  display: block;
  padding-left: 13px;
  height: 46px;
  margin-bottom: 14px;
  @include min-width('medium') {
  }
  @include min-width('large') {
    width: 332px;
    margin-right: 23px;
    height: 51px;
    margin-bottom: 0;
  }
}
::placeholder {
  font-style: italic;
  @include font(12px, 300, 14px);
  color: #9b9999;
}
.form .button {
  padding: 10px 0;
  min-width: 280px;
  background-color: var(--btn-normal);
  color: var(--text-white-color);
  @include font(14px, 800, 21px);
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.25);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 1.2px;
  &:hover,
  &:focus {
    box-shadow: none;
  }
  &:active {
    background-color: var(--btn-active-color);
    color: var(--primary-color);
  }
  @include min-width('large') {
    height: 51px;
  }
}
